{% extends 'base.html' %}
{% block body %}
{%load static%}
<section class="page-header page-header-modern bg-color-quaternary page-header-md">
    <div class="container">
        <div class="row">


            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="">About <strong>Us</strong></h1>

            </div>


            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                    <li><a href="#"></a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
    <div class="container py-4">

        <div class="row align-items-center">
            <div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
                <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                    <div>
                        <img alt="" class="img-fluid" src="{% static  'img/generic/generic-corporate-3-2-full.jpg'%}">
                    </div>
                    <div>
                        <img alt="" class="img-fluid" src="{% static  'img/generic/generic-corporate-3-3-full.jpg'%}">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="overflow-hidden mb-2">
                    <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Who <strong class="font-weight-extra-bold">We Are</strong></h2>
                </div>

                <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">Welcome to EssaycompTutors a professional e-writing service plartform that offers you custom writing solution.</p>
                <p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Do you feel juggling work, studying, exams, and a personal life can 
                    sometimes feel a little bit overwhelming? You’re not alone, a lot of students do. College life these days is demanding and requires a lot of time, which you sometimes might 
                    not have. That’s where EssaycompTutors can help you. We are a dedicated essay writing service that can help you put together a top-quality essay.</p>
            </div>
        </div>

    </div>
</section>

<div class="container">

    <div class="row mt-5 py-3">
        <div class="col-md-6">
            <div class="toggle toggle-primary toggle-simple m-0" data-plugin-toggle>
                <section class="toggle active mt-0">
                    <a class="toggle-title">WHY CHOOSE US </a>
                    <div class="toggle-content">
                        <ul class="list list-icons list-icons-style-2 list-icons-sm">
                            <li><i class="fas fa-check"></i> Experienced writers with the highest satisfaction rates.</li>
                            <li><i class="fas fa-check"></i>Lowest prices on the market, no upfront payments to all returning customers.</li>
                            <li><i class="fas fa-check"></i> Security, confidentiality, and money back guaranteed!</li>
                            <li><i class="fas fa-check"></i> We operate 24/7 offering quality and timely writing services.</li>
                        </ul>
                        
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">GUARANTEES </a>
                    <div class="toggle-content">
                        <ul class="list list-icons list-icons-style-2 list-icons-sm">
                            <li><i class="fas fa-check"></i> Quality – Providing quality work is core to our beliefs, which is why we will strive to give you exactly that, and more!</li>
                            <li><i class="fas fa-check"></i>Always on time – If we are a minute late, the work is on us it’s free!</li>
                            <li><i class="fas fa-check"></i> Written to standard – All of our assignments go through a stringent quality checking process from start to finish.</li>
                        </ul>  
                   
                    </div>
                </section>
            </div>
        </div>
        <div class="col-md-6">
            <div class="progress-bars">
                <div class="progress-label">
                    <span class="text-1">Essay Writing Services</span>
                </div>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                        <span class="progress-bar-tooltip">100%</span>
                    </div>
                </div>
                <div class="progress-label">
                    <span class="text-1">Assignment Writing Services</span>
                </div>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="300">
                        <span class="progress-bar-tooltip">85%</span>
                    </div>
                </div>
                <div class="progress-label">
                    <span class="text-1">Dissertation Writing Services</span>
                </div>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="75%" data-appear-animation-delay="600">
                        <span class="progress-bar-tooltip">75%</span>
                    </div>
                </div>
                <div class="progress-label">
                    <span class="text-1">Thesis Writing Services</span>
                </div>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="900">
                        <span class="progress-bar-tooltip">85%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col py-4">
            <hr class="solid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-md-auto text-center">

            <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">Our <strong class="font-weight-extra-bold">History</strong></h2>
            <p>How did we start?</p>

            <section class="timeline" id="timeline">
                <div class="timeline-body">
                    <div class="timeline-date">
                        <h3 class="text-primary font-weight-bold">2020</h3>
                    </div>

                    <article class="timeline-box left text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <div class="timeline-box-arrow"></div>
                        <div class="p-2">
                            <img alt="" class="img-fluid" src="{% static  'img/history/history-3.jpg'%}" />
                            <h3 class="font-weight-bold text-3 mt-3 mb-1">New online plartform</h3>
                            <p class="mb-0 text-2"></p>
                        </div>
                    </article>

                    <div class="timeline-date">
                        <h3 class="text-primary font-weight-bold">2019</h3>
                    </div>

                    <article class="timeline-box right text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400">
                        <div class="timeline-box-arrow"></div>
                        <div class="p-2">
                            <img alt="" class="img-fluid" src="{% static  'img/history/history-2.jpg'%}" />
                            <h3 class="font-weight-bold text-3 mt-3 mb-1">New Partners</h3>
                            <p class="mb-0 text-2">.</p>
                        </div>
                    </article>

                    <div class="timeline-date">
                        <h3 class="text-primary font-weight-bold">2018</h3>
                    </div>

                    <article class="timeline-box left text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                        <div class="timeline-box-arrow"></div>
                        <div class="p-2">
                            <img alt="" class="img-fluid" src="{% static  'img/history/history-1.jpg'%}" />
                            <h3 class="font-weight-bold text-3 mt-3 mb-1">Foundation</h3>
                            <p class="mb-0 text-2"></p>
                        </div>
                    </article>
                </div>
            </section>

        </div>
    </div>

</div>


{% endblock%}
