{% extends 'base.html' %}
{% block body %}
<section class="page-header page-header-modern bg-color-quaternary page-header-md">
    <div class="container">
        <div class="row">


            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="">Copyright Policy</h1>

            </div>


            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                    <li><a href="#"></a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class=" section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
    <div class="container py-4">

        <div class="d-flex p-2"></div>
            <div class="heading heading-border heading-bottom-border">
                <h1 class="font-weight-normal"><strong class="font-weight-extra-bold">Copyright Dispute Policy</strong></h1>
            </div>
<p>It is our  policy to respond to clear notices of alleged copyright infringement.We reserves the right to  block access to or<br> remove material that we believe in good faith to be copyrighted as well as to remove and discontinue service to repeat<br> offenders.Remember that your use of EssayCompTutors Services is, at all times, subject to our Terms of Use,<br> which incorporates Copyright Dispute Policy.<br> Any terms EssayCompTutors uses in this Policy without defining them have the definitions given to them in the Terms of Use.</p>
<p>Please note that you can submit a copyright infringement notification or a counter notice by email or livechat. <br>Or contact us if you’ve uploaded any unauthorized content.

</div>
</section>
{% endblock%}
