{% extends 'base.html' %}
{% block body %}
<section class="page-header page-header-modern bg-color-quaternary page-header-md">
    <div class="container">
        <div class="row">


            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="">FAQs</h1>

            </div>


            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                    <li><a href="#"></a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class=" section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
    <div class="container py-4">

        <div class="d-flex p-2"></div>
            <div class="heading heading-border heading-bottom-border">
                <h1 class="font-weight-normal"><strong class="font-weight-extra-bold"> Frequently Asked Questions from Customers</strong></h1>
            </div>
            <div class="container py-4">

                <div class="row">
                    <div class="col">
                        <div class="toggle toggle-primary" data-plugin-toggle>
                            <section class="toggle active">
                                <a class="toggle-title">How does our custom writing service work?</a>
                                <div class="toggle-content">
                                    <p>To learn about how our service works, please visit the “How It Works” page where you can read a detailed explanation of our features</p>
                                </div>
                            </section>

                            <section class="toggle">
                                <a class="toggle-title">How will I be able to send my case study/articles/materials to the writer?</a>
                                <div class="toggle-content">
                                    <p>You can  upload any additional materials for the writer, which can bea draft, an outline, or some reading material, at the stage of filling out your order form.</p>
                                </div>
                            </section>

                            <section class="toggle">
                                <a class="toggle-title">What is the format of your custom essays?</a>
                                <div class="toggle-content">
                                    <p>There are several formatting styles you can choose from when placing an order (MLA, APA, Chicago / Turabian or Not applicable), and you will be getting a paper properly formatted in accordance with the rules of this particular style. </p>
                                </div>
                            </section>

                            <section class="toggle">
                                <a class="toggle-title">What if I forgot my password?</a>
                                <div class="toggle-content">
                                    <p>If you forgot your password, please click on the link Forgot Password, which is located below the “Login” button on the website's login page. </p>
                                </div>
                            </section>

                            <section class="toggle">
                                <a class="toggle-title">Is it free to submit an order ?</a>
                                <div class="toggle-content">
                                    <p>Yes, you can fill out an order form and submit your order for all writers to check.</p>
                                </div>
                            </section>

                            <section class="toggle">
                                <a class="toggle-title">When will my paper be done?</a>
                                <div class="toggle-content">
                                    <p>When you initially fill out the order form, you select the deadline by which you need the paper completed. Unless you later negotiate this information with the writer in chat, you paper will be completed by this initial deadline. However, please note that if your deadline has changed to a shorter one, we strongly encourage you to inform your writer in advance, since he or she might have a tight schedule and a heavy work load.</p>
                                </div>
                            </section>

                            <section class="toggle">
                                <a class="toggle-title">How will I receive my paper?</a>
                                <div class="toggle-content">
                                    <p>Once the writer is paid for the whole order, you have a chance to download your final paper in one of two formats: either as an MS Word document, or as a .pdf file.</p>
                                </div>
                            </section>

                            <section class="toggle">
                                <a class="toggle-title">What if I do not like my essay?</a>
                                <div class="toggle-content">
                                    <p>If you do not like what the writer has written, we recommend you to communicate your comments to the writer with no hesitation, while the order is still in progress, so that the writer does not have to start anew later on.</p>
                                </div>
                            </section>
                            <section class="toggle">
                                <a class="toggle-title">How can I pay for the custom written paper? Is it safe to submit payments through your site?</a>
                                <div class="toggle-content">
                                    <p>Our website is safe and secure and we only accept payments through Paypal accounts</p>
                                </div>
                            </section>
                            <section class="toggle">
                                <a class="toggle-title">Can I get a discount?</a>
                                <div class="toggle-content">
                                    <p>At EssayCompTutors, we try to keep a good balance between affordable rates for customers and fair wages for writers. We try to interfere as little as possible into the bidding process and let it run on a free market basis. So, we choose to keep affordable pricing for everyone rather than lower rates on a selective basis. </p>
                                </div>
                            </section>

                            <section class="toggle">
                                <a class="toggle-title">How can I know that my paper is original?</a>
                                <div class="toggle-content">
                                    <p>If you want to be certain that your paper is plagiarism-free, you may use our additional service called “Plagiarism Check,” which allows you to check the order for plagiarism an unlimited number of times – every time your writer completes a revision or adds new content. </p>
                                </div>
                            </section>
                            <section class="toggle">
                                <a class="toggle-title">Can I delete my account?</a>
                                <div class="toggle-content">
                                    <p>Yes, you can delete your account anytime. If you choose to delete your account, you will no longer be able to log in or restore your account. The Support Team will not be able to restore your account as well. If you want to use our service again, please create a new account.</p>
                                </div>
                            </section>
                            
                        </div>
                </div>
</div>
</section>
{% endblock%}
