{% extends 'base.html' %}
{% block body %}
<section class="page-header page-header-modern bg-color-quaternary page-header-md">
    <div class="container">
        <div class="row">


            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="">Privacy policy</h1>

            </div>


            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                    <li><a href="#"></a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class=" section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
    <div class="container py-4">

        <div class="d-flex p-2"></div>
            <div class="heading heading-border heading-bottom-border">
                <h1 class="font-weight-normal"><strong class="font-weight-extra-bold">The following are our privacy policies</strong></h1>
            </div>
<p>&emsp; At EssaycompTutors we care about the confidentiality of all our customers. In this section,we inform our customers<br>&emsp; how we collect, use, and store their personal data and payment information.  </p>
<h4 style="color:DodgerBlue;">&emsp; Information that we may colect as you visit our website are:</h4>
    <li>Your order details</li>
    <li>Details of your visits to our site, including access time.</li>
  </ol>
  <h4 style="color:DodgerBlue;">&emsp; Here is how we use the collected information</h4>
 <p>&emsp;To provide you with the services you need such as ordering a custom paper.<br>&emsp;For internal record keeping, billing, accounting, and personal market research purposes.<br>&emsp;To promptly respond to any issues/requests/complaints you may have. <br>&emsp;To improve our site’s content/layout in order to effectively meet your needs.</p>

 <h4 style="color:DodgerBlue;">&emsp;Here is how we use your phone number.</h4>
   <p>&emsp;During the ordering process, you may be asked to provide some personal information, including your name, e-mail address or phone number.  <br>&emsp;Please note thatthis information is only used to enable communication with the customer during the whole ordering progress. <br>&emsp;The statistical data our webservers collect is used exclusively for internal market research purposes.</p>
  <p> &emsp;The email you use when ordering, contacting us to report your feedback, expressing a request, or asking for additional information,<br>&emsp; is only used to respond to your request. We never use this email for our email marketing campaigns, unless you explicitly subscribe to our services.<br>&emsp; Additionally, this information is not shared, sold, or disclosed to any other party.</p>
  <h4 style="color:DodgerBlue;">&emsp; Security measures that we take to ensure smooth customer experience.</h4>
  <li>&emsp;The information you provide us during the ordering process is stored on our secure servers.</li>
  <li>&emsp;All payment transactions will be done over encrypted SSL technology</li>
  <li>&emsp;We do not process credit card payments directly on our site. Instead, we use PayPal merchant account for this.</li>
</ol>
<p>&emsp;Passwords are given/chosen to enable you to access certain parts of our site. It’s your sole responsibility to keep this password(s) confidential.</p>
  

{% endblock%}
             
            
