{% extends 'base.html' %}
{% block body %}
<section class="page-header page-header-modern bg-color-quaternary page-header-md">
    <div class="container">
        <div class="row">


            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="">Rivision policy</h1>

            </div>


            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                    <li><a href="#"></a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class=" section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
    <div class="container py-4">

        <div class="d-flex p-2"></div>
            <div class="heading heading-border heading-bottom-border">
                <h1 class="font-weight-normal"><strong class="font-weight-extra-bold"> What Happens If You Need Your Paper Revised?</strong></h1>
            </div>
    
    <p>&emsp;While we provide high-quality academic assistance,essay revisions are sometimes inevitable.<br> &emsp; If it happens that you need a revision from us,we are always ready to revise your paper<br> &emsp; for free as long as it is in line with our main terms which are:</p>
    <ol>
        <li> Revision instructions should always remain the same and should not conflict with  initial instructions</li>
        <li>Revisions can be requested at any time before approving  order but you have a 7 day grace period in which to request for a revision.</li>
        
        <li>Deadline date for revision should be close to your initial deadline date</li>
        <li>Youre required to contact our customer support team and provide further instructions regarding to the changes you are requesting for.</li>
      </ol> 
      <h3 style="color:DodgerBlue;">&emsp;Please Note:</h3>
      <p>&emsp; You have two weeks to “Approve” the revised paper starting from the moment we upload the last version to your personal account.<br>&emsp; After which, if there’s no “Approval” or further revision request actions performed, then the order is automatically <br>&emsp;approved by our system. This is done to facilitate early payments to all our writers.
       <p>&emsp;If you require significant changes to your original order or request a revision with us 7 days after your order is approved,<br>&emsp; we will request you to pay an extra fee. Please contact our customer service staff for an estimate.</p>
      <p>&emsp;In case you request for a different writer, remember that additional time is needed to find a new writer. <br>&emsp;Thus, you’ll need to adjust your revision deadline accordingly. We propose adding an extra 12 hours to the deadline for the new writer.</p>
      <p>&emsp;Please note that we reserve the rights to extend any revision deadline as per our writers’ request in some cases.<br>&emsp; However, this extension will only be done if the timeframe you have initially paid for allows such.</p>
    </div>

</div>
</section>
      {% endblock%}
