{% extends 'base.html' %}
{% block body %}
<section class="page-header page-header-modern bg-color-quaternary page-header-md">
    <div class="container">
        <div class="row">


            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="">Services <strong></strong></h1>

            </div>


            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                    <li><a href="#"></a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-6 col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700" style="animation-delay: 700ms;">
        <div class="featured-box featured-box-effect-4" style="height: 205px;">
            <div class="box-content">
                <i class="icon-featured icon-screen-tablet icons text-color-primary bg-color-grey"></i>
                <h4 class="font-weight-bold">Essay Writing Services</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="900" style="animation-delay: 900ms;">
        <div class="featured-box featured-box-effect-4" style="height: 205px;">
            <div class="box-content">
                <i class="icon-featured icon-layers icons text-color-light bg-color-primary"></i>
                <h4 class="font-weight-bold">Assignment Writing Services</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100" style="animation-delay: 1100ms;">
        <div class="featured-box featured-box-effect-4" style="height: 205px;">
            <div class="box-content">
                <i class="icon-featured icon-magnifier icons text-color-primary bg-color-grey"></i>
                <h4 class="font-weight-bold">Thesis Writing Services</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1500" style="animation-delay: 1500ms;">
        <div class="featured-box featured-box-effect-4" style="height: 205px;">
            <div class="box-content">
                <i class="icon-featured icon-screen-desktop icons text-color-light bg-color-primary"></i>
                <h4 class="font-weight-bold">Dissertation Writing Servicess</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1300" style="animation-delay: 1300ms;">
        <div class="featured-box featured-box-effect-4" style="height: 205px;">
            <div class="box-content">
                <i class="icon-featured icon-doc icons text-color-primary bg-color-grey"></i>
                <h4 class="font-weight-bold">Topic Suggestion</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1100" style="animation-delay: 1100ms;">
        <div class="featured-box featured-box-effect-4" style="height: 205px;">
            <div class="box-content">
                <i class="icon-featured icon-menu icons text-color-light bg-color-primary"></i>
                <h4 class="font-weight-bold">Sample Papers</h4>
            </div>
        </div>
    </div>
</div>
{% endblock%}
