{% extends 'base.html' %}
{% block body %}
<section class="page-header page-header-modern bg-color-quaternary page-header-md">
    <div class="container">
        <div class="row">


            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="">Terms of use</h1>

            </div>


            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                    <li><a href="#"></a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class=" section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
    <div class="container py-4">

        <div class="d-flex p-2"></div>
            <div class="heading heading-border heading-bottom-border">
                <h1 class="font-weight-normal"><strong class="font-weight-extra-bold"> Use of our services is subject to the following terms</strong></h1>
            </div>
            <h4 style="color:DodgerBlue;">&emsp; a) Introduction</h4>

          <p> &emsp;Our website is only available for use if you are of legal age. Your use of this website (by submitting an order and/or payment) <br>&emsp;constitutes your agreement to the following terms and conditions.Please read our Terms and Conditions carefully</p>
         
          <h4 style="color:DodgerBlue;">&emsp; b) Terms of use as applied in this document</h4>
        
          <p> &emsp;In this document the words “Website”, “site”, means EssaycompTutors . “Client”, “Customer”, “You”, or “Yours” may refer <br>&emsp;to you and/or any other person submitting the Order to us on your behalf.
          “Product” refers to an original essay, paper, <br>&emsp;or any other written product that is drafted, proof-read or re-written and delivered to you as the customer in accordance to <br>&emsp;your Order specifications.
          “Order” means a written order in electronic format that is filled and submitted to our Website specifying <br>&emsp;the scope of work and product specifications.
         </p>
    <h4 style="color:DodgerBlue;">&emsp; c) Other Documents to Refer Before Ordering</h4>
    <ol>
        <li>Our About Us page (detailed information about our company)</li>
        <li>Our Privacy Policy page (detailed explanation of how we process your personal information)</li>
        <li>Our FAQ page (Information about common questions customers have regarding our services)</li>
        <li>Our Revision Policy page. (Details our promises to you regarding order/product revisions)
        </li>
      </ol>
      <h4 style="color:DodgerBlue;">&emsp; d) Accessing and Using our Site</h4>
     <p>&emsp; By accessing and using our site to place an order and/or payment you agree to be legally bound by these terms.<br>&emsp; If you disagree with any of these terms and conditions, please do not use this website.
        <br>&emsp; It’s your obligation, as a customer, to read this Terms and Conditions page before submitting any Order and/or payment to this Website.
        </p>
        <h4 style="color:DodgerBlue;">&emsp;e) Changes to Terms</h4>
        <p>&emsp;We reserve the right to amend these terms from time to time, due to the reasons listed below:</p>
        <ol>
            <li>If we alter the services we currently provide</li>
            <li> If we add new services</li>
            <li>If we are obligated to due to security, regulatory or legal reasons.</li>
          </ol>
          <h4 style="color:DodgerBlue;">&emsp;f) Ordering Process</h4>
          <ol>
            <li>To place an order for any of our services, you are obligated to complete and submit our standard online order form.</li>
            <li>We expect that the order will specify in a clear manner: the scope of work, requirements you have regarding an <br>original essay, paper, and/or other written material.</li>
            <li>Our standard online registration form requires you to provide us with requirement information about your order <br>(i.e., type of service, academic level, type of paper, subject/discipline, citation style among other instructions) <br>and personal information (name, e-mail address, and payment information)</li>
          </ol>
          <h4 style="color:DodgerBlue;">&emsp;g) Orders on Dispute</h4>
          <p>&emsp;You can set orders on Dispute by writing a letter to our customer support team explaining the problem. <br>&emsp;If you wish to do so, here are a few points to keep in mind</p>

          <ol>
            <li> Provide insightful and elaborate reasons and examples to support your claim.</li>
            <li>All orders on Dispute are reviewed individually with regards to all aspects on order and dispute. Consequently, refunds will be suggested independently from each other.</li>
            <li>If you fail to supply the required information for the Dispute solution within 2 weeks, this will result in case closure and refund of this order will not be possible thereafter.</li>
          <li> It may take up to 14 days for our customer support to resolve your dispute though most disputes will be resolved within 2-3 business days.</li>
        </ol>
          
        </div>

    </div>
</section>
{% endblock%}
