{% extends 'base.html' %}
{% block body %}
<section class="page-header page-header-modern bg-color-dark page-header-md">
    <div class="container">
        <div class="row">


            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="">How it Works </strong></h1>

            </div>


            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                    <li><a href="#"></a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class=" section-default border-0 my-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center offset-lg-1">
                        <h3 class="font-weight-bold text-9 mb-2 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-duration="750" data-plugin-options="{'accY': -200}" style="animation-delay: 100ms;text-transform:capitalize">How it works</h3>
            </div>
            <div class="col mt-1 mb-1">

                <div class="row process my-12">
                    <div class="process-step col-lg-3 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content"><i class="icons icon-paper-clip text-5 text-primary"></i></strong>
                        </div>
                        <div class="process-step-content px-4">
                            <h4 class="mb-1 text-5 font-weight-bold mb-2">First Step</h4>
                            <p class="mb-0">Submit your assignment to us.</p>
                        </div>
                    </div>
                    <div class="process-step col-lg-3 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content"><i class="icons icon-credit-card text-5 text-primary"></i></strong>
                        </div>
                        <div class="process-step-content px-4">
                            <h4 class="mb-1 text-5 font-weight-bold mb-2">Second Step</h4>
                            <p class="mb-0">Make payment.</p>
                        </div>
                    </div>
                    <div class="process-step col-lg-3 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content"><i class="icons icon-user text-5 text-primary"></i></strong>
                        </div>
                        <div class="process-step-content px-3">
                            <h4 class="mb-1 text-5 font-weight-bold mb-2">Third Step</h4>
                            <p class="mb-0">A tutor is assigned.</p>
                        </div>
                    </div>
                    <div class="process-step col-lg-3 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content"><i class="icons icon-envelope-open text-5 text-primary"></i></strong>
                        </div>
                        <div class="process-step-content px-3">
                            <h4 class="mb-1 text-5 font-weight-bold mb-2">Fourth Step</h4>
                            <p class="mb-0">Completed work sent to your email.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock%}
