{% extends 'base.html' %}
{% block body %}
{%load static%}

<section class="page-header page-header-modern bg-color-quaternary page-header-md">
    <div class="container">
        <div class="row">


            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="">Change Password <strong></strong></h1>

            </div>


            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                    <li><a href="#"></a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="featured-boxes">
        <div class="row">
            <div class="col-md-6">
                <div class="featured-box featured-box-primary text-left mt-5">
                    <div class="box-content">
                        <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Please enter your email to get reset link</h4>
                        <form action=""   method="POST" class="">
                                {%csrf_token%}
                                {% include 'partials/_messages.html'%}
                            <div class="form-row">
                                <div class="form-group col">
                                    <label class="font-weight-bold text-dark text-2">E-mail Address</label>
                                    <input 
                                type="email" 
                                name="email" 
                                id="emailField" 
                                class="form-control form-control-lg"
                                value=""
                                required
                            />
                                </div>
                                
                            </div>
                
                            <div class="form-row">
                                <br/>
                                <br/>
                                <div class="form-group col-lg-6">
                                    <br/>
                                <br/>
                                    <input type="submit" value="Submit" class="btn btn-primary btn-modern float-right" data-loading-text="Loading...">
                                </div>
                                
                            </div>
                            <br/>
                            <span class="psw">Dont have an account?<a href="{% url 'register' %}">Register</a> or <a href="{% url 'login' %}">Login</a> </span>
                                
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
               
            </div>
        </div>

    </div>

        </div>
{% endblock%}