<!DOCTYPE html>
<html>
<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title> </title>

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

        {%load static%}
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png'%}">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
		<link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css'%}">
		<link rel="stylesheet" href="{% static 'vendor/animate/animate.min.css'%}">
		<link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css'%}">
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css'%}">
			<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.min.css'%}">
			<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.min.css'%}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'css/theme.css'%}">
		<link rel="stylesheet" href="{% static 'css/theme-elements.css'%}">
		<link rel="stylesheet" href="{% static 'css/theme-blog.css'%}">
		<link rel="stylesheet" href="{% static 'css/theme-shop.css'%}">

			<!-- Admin Extension Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/pnotify/pnotify.custom.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/jquery-ui/jquery-ui.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/jquery-ui/jquery-ui.theme.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/select2/css/select2.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/select2-bootstrap-theme/select2-bootstrap.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/bootstrap-multiselect/bootstrap-multiselect.html'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/dropzone/basic.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/dropzone/dropzone.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/summernote/summernote.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/summernote/summernote-bs4.css'%}" />
		<link rel="stylesheet" href="{% static 'porto-admin/edge/vendor/codemirror/lib/codemirror.css'%}" />

				<!-- Admin Extension CSS -->
		<link rel="stylesheet" href="{% static 'porto-admin/edge/css/theme-admin-extension.css'%}">

				<!-- Admin Extension Skin CSS -->
		<link rel="stylesheet" href="{% static 'porto-admin/edge/css/skins/extension.css'%}">
		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/settings.css'%}">
		<link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/layers.css'%}">
		<link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/navigation.css'%}">

		<!-- Demo CSS -->


		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'css/skins/default.css'%}">
		<script src="{% static 'master/style-switcher/style.switcher.localstorage.js'%}"></script>

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'css/custom.css'%}">

		<!-- Head Libs -->
		<script src="{% static 'vendor/modernizr/modernizr.min.js'%}"></script>

	</head>
	<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
		<div class="loading-overlay">
			<div class="bounce-loader">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>

		<div class="body">
			<header id="header" class="header-effect-shrink"
			data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true,
			'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}">
				<div class="header-body border-top-0">
					<div class="header-top">
						<div class="container">
							<div class="header-row py-2">
								<div class="header-column justify-content-start">
									<div class="header-row">
										<nav class="header-nav-top">
											<ul class="nav nav-pills">
												<li class="nav-item nav-item-anim-icon d-none d-md-block">
													<a class="nav-link pl-0" href="#"><i class="fas fa-angle-right"></i> info@porto.com</a>	</li>
												<li class="nav-item nav-item-anim-icon d-none d-md-block">
													<a class="nav-link" href="#"><i class="fas fa-angle-right"></i>+86 771 772 773</a></li>
												</nav>
									</div>
								</div>
								<div class="header-column justify-content-end">
									<div class="header-row">
										<ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean">
												<li class="social-icons-facebook"><a href="#"target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
											<li class="social-icons-twitter"><a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
											<li class="social-icons-linkedin"><a href="#" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column">
								<div class="header-row">
									<div class="header-logo">
										<a href="/">
											<img alt="Porto" width="200" height="68" data-sticky-width="82" data-sticky-height="40" src="{% static 'img/logo.png'%}">
										</a>
									</div>
								</div>
							</div>
							<div class="header-column justify-content-end">
								<div class="header-row">
									<div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
										<div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<li class="dropdown">
													
														<a class="dropdown-item dropdown-toggle " href="/">Home</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle " href="{% url 'works' %}">How it Works</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle " href="#">About</a>
															<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="{% url 'about' %}">About us </a></li>
																	<li><a class="dropdown-item" href="{% url 'revision_policy' %}">Revision Policy </a></li>
																	<li><a class="dropdown-item" href="{% url 'privacy_policy' %}">Privacy Policy </a></li>
																	<li><a class="dropdown-item" href="{% url 'terms_of_use' %}">Terms of Use</a></li>
																	<li><a class="dropdown-item" href="{% url 'copyright_policy' %}">Copyright Dispute Policy</a></li>
																	<li><a class="dropdown-item" href="{% url 'faq' %}">FAQ's</a></li>
															</ul>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle " href="{% url 'services' %}">Services</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle " href="{% url 'contactus' %}">Contact us</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle active" href="{% url 'order' %}">Place an Order</a>
													</li>
												</ul>
											</nav>
										</div>
										<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
											<i class="fas fa-bars"></i>
										</button>
									</div>
									<div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
										<div class="header-nav-feature header-nav-features-user d-inline-flex mx-2 pr-2 signin" id="headerAccount">
											<a href="#"class="header-nav-features-toggle">
												<i class="far fa-user"></i> Sign In
											</a>
											<div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed header-nav-features-dropdown-force-right" id="headerTopUserDropdown">
												<div class="signin-form">
													<h5 class="text-uppercase mb-4 font-weight-bold text-3">Sign In</h5>
													<form>
														<div class="form-group">
															<label class="mb-1 text-2 opacity-8">Email address* </label>
															<input type="email" class="form-control form-control-lg">
														</div>
														<div class="form-group">
															<label class="mb-1 text-2 opacity-8">Password *</label>
															<input type="password" class="form-control form-control-lg">
														</div>
														<div class="form-row pb-2">
															<div class="form-group form-check col-lg-6 pl-1">
																<div class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input" id="rememberMeCheck">
																	<label class="custom-control-label text-2" for="rememberMeCheck">Remember Me</label>
																</div>
															</div>
															<div class="form-group col-lg-6 text-right">
																<a class="text-uppercase text-1 font-weight-bold text-color-dark" id="headerRecover" href="#">LOST YOUR PASSWORD?</a>
															</div>
														</div>
														<div class="actions">
															<div class="form-row">
																<div class="col d-flex justify-content-end">
																	<a class="btn btn-primary" href="#">Login</a>
																</div>
															</div>
														</div>
														<div class="extra-actions">
															<p>Don't have an account yet? <a href="#"id="headerSignUp" class="text-uppercase text-1 font-weight-bold text-color-dark">Sign Up</a></p>
														</div>
													</form>
												</div>

												<div class="signup-form">
													<h5 class="text-uppercase mb-4 font-weight-bold text-3">Sign Up</h5>
													<form>
														<div class="form-group">
															<label class="mb-1 text-2 opacity-8">Email address* </label>
															<input type="email" class="form-control form-control-lg">
														</div>
														<div class="form-group">
															<label class="mb-1 text-2 opacity-8">Password *</label>
															<input type="password" class="form-control form-control-lg">
														</div>
														<div class="form-group">
															<label class="mb-1 text-2 opacity-8">Re-enter Password *</label>
															<input type="password" class="form-control form-control-lg">
														</div>
														<div class="actions">
															<div class="form-row">
																<div class="col d-flex justify-content-end">
																	<a class="btn btn-primary" href="#">Register</a>
																</div>
															</div>
														</div>
														<div class="extra-actions">
															<p>Already have an account? <a href="#"id="headerSignIn" class="text-uppercase text-1 font-weight-bold text-color-dark">Log In</a></p>
														</div>
													</form>
												</div>

												<div class="recover-form">
													<h5 class="text-uppercase mb-2 pb-1 font-weight-bold text-3">Reset My Password</h5>
													<p class="text-2 mb-4">Complete the form below to receive an email with the authorization code needed to reset your password.</p>

													<form>
														<div class="form-group">
															<label class="mb-1 text-2 opacity-8">Email address* </label>
															<input type="email" class="form-control form-control-lg">
														</div>
														<div class="actions">
															<div class="form-row">
																<div class="col d-flex justify-content-end">
																	<a class="btn btn-primary" href="#">Reset</a>
																</div>
															</div>
														</div>
														<div class="extra-actions">
															<p>Already have an account? <a href="#"id="headerRecoverCancel" class="text-uppercase text-1 font-weight-bold text-color-dark">Log In</a></p>
														</div>
													</form>
												</div>

											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</header>
			<div role="main" class="main">

                {% block body%}

				{%endblock%}
				<section class="section bg-primary border-0 m-0">
					<div class="container">
						<div class="col text-center">
								<div class="mb-5 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" style="animation-delay: 100ms;">
									<h2 class="text-7 font-weight-normal text-color-light mb-2">GET HELP WITH YOUR ASSIGNMENTS TODAY</h2>
								</div>
								<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" 
								style="animation-delay: 400ms;">
									<a class="btn btn-light btn-xl font-weight-bold text-color-dark py-3 text-2" href="{% url 'order' %}">ORDER NOW <i class="fa fa-arrow-right  ml-2 pl-3 text-3"></i></a>
								</div>
							</div>
						</div>
				</section>
			</div>		
	<footer id="footer">
				<div class="container">
					<div class="footer-ribbon">
						<span>Get in Touch</span>
					</div>
					<div class="row py-5 my-4">
						<div class="col-md-6 mb-4 mb-lg-0">
							<a href="/" class="logo pr-0 pr-lg-3">
								<img alt="Porto Website Template" src="{% static 'img/logo-footer.png'%}" class="opacity-7 bottom-4" height="33">
							</a>
							<p class="mt-2 mb-2">
								Welcome to EssaycompTutors a professional e-writing service platform that offers you custom writing solutions. We are all about helping you save time, save money, and get your homework done on time.</p>
							<p class="mb-0"><a href="{% url 'about' %}"class="btn-flat btn-xs text-color-light"><strong class="text-2">VIEW MORE</strong><i class="fas fa-angle-right p-relative top-1 pl-2"></i></a></p>
						</div>
						<div class="col-md-6">
							<h5 class="text-3 mb-3">CONTACT US</h5>
							<div class="row">
								<div class="col-md-6">
									<ul class="list list-icons list-icons-lg">
										<li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i><p class="m-0">234 Street Name, City Name</p></li>
										<li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0"><a href="#">mail@example.com</a></p></li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list list-icons list-icons-sm">						
										<li><i class="fas fa-angle-right"></i><a href="{% url 'revision_policy' %}" class="link-hover-style-1 ml-1"> Revision Policy</a></li>
										<li><i class="fas fa-angle-right"></i><a href="{% url 'privacy_policy' %}" class="link-hover-style-1 ml-1">Privacy Policy</a></li>
										<li><i class="fas fa-angle-right"></i><a href="{% url 'terms_of_use' %}" class="link-hover-style-1 ml-1">Terms of Use</a></li>
										<li><i class="fas fa-angle-right"></i><a href="{% url 'copyright_policy' %}" class="link-hover-style-1 ml-1">Copyright Dispute Policy</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright footer-copyright-style-2">
					<div class="container py-2">
						<div class="row py-4">
							<div class="col d-flex align-items-center justify-content-center">
								<p>© Copyright 2020. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>

		<!-- Vendor -->
		<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
			<script src="{% static 'vendor/jquery.appear/jquery.appear.min.js'%}"></script>
			<script src="{% static 'vendor/jquery.easing/jquery.easing.min.js'%}"></script>
				<script src="{% static 'vendor/jquery.cookie/jquery.cookie.min.js'%}"></script>
					<script src="{% static 'master/style-switcher/style.switcher.js'%}" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script>
						<script src="{% static 'vendor/popper/umd/popper.min.js'%}"></script>	
							<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
							<script src="{% static 'vendor/common/common.min.js'%}"></script>	
								<script src="{% static 'vendor/jquery.validation/jquery.validate.min.js'%}"></script>
							<script src="{% static 'vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js'%}"></script>	
								<script src="{% static 'vendor/jquery.gmap/jquery.gmap.min.js'%}"></script>
							<script src="{% static 'vendor/jquery.lazyload/jquery.lazyload.min.js'%}"></script>	
								<script src="{% static 'vendor/isotope/jquery.isotope.min.js'%}"></script>
							<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js'%}"></script>	
								<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>
								<script src="{% static 'vendor/vide/jquery.vide.min.js'%}"></script>	
									<script src="{% static 'vendor/vivus/vivus.min.js'%}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'js/theme.js'%}"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{% static 'vendor/rs-plugin/js/jquery.themepunch.tools.min.js'%}"></script>	
			<script src="{% static 'vendor/rs-plugin/js/jquery.themepunch.revolution.min.js'%}"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{% static 'js/views/view.contact.js'%}"></script>


				<!-- Admin Extension Specific Page Vendor -->
				<script src="{% static 'porto-admin/edge/vendor/jquery-validation/jquery.validate.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/pnotify/pnotify.custom.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js'%}"></script>
				<script>
					// Bootstrap Datepicker No Conflict
					if (typeof($.fn.datepicker) != 'undefined') {
						$.fn.bootstrapDP = $.fn.datepicker.noConflict();
					}
				</script>
				
				<script src="{% static 'porto-admin/edge/vendor/jquery-ui/jquery-ui.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/jqueryui-touch-punch/jqueryui-touch-punch.html'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/select2/js/select2.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/bootstrap-multiselect/bootstrap-multiselect-2.html'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/jquery-maskedinput/jquery.maskedinput.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/bootstrap-timepicker/bootstrap-timepicker.html'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/fuelux/js/spinner.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/dropzone/dropzone.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/bootstrap-markdown/js/markdown.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/bootstrap-markdown/js/to-markdown.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/bootstrap-markdown/js/bootstrap-markdown.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/codemirror/lib/codemirror.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/codemirror/addon/selection/active-line.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/codemirror/addon/edit/matchbrackets.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/codemirror/mode/javascript/javascript.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/codemirror/mode/xml/xml.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/codemirror/mode/htmlmixed/htmlmixed.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/codemirror/mode/css/css.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/summernote/summernote.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/bootstrap-maxlength/bootstrap-maxlength.js'%}"></script>
				<script src="{% static 'porto-admin/edge/vendor/ios7-switch/ios7-switch.js'%}"></script>

				<!-- Admin Extension -->
				<script src="{% static 'porto-admin/edge/js/theme.admin.extension.js'%}"></script>

				<!-- Admin Extension Examples -->
				<script src="{% static 'porto-admin/edge/js/examples/examples.wizard.js'%}"></script>
				<script src="{% static 'porto-admin/edge/js/examples/examples.advanced.form.js'%}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'js/theme.init.js'%}"></script>


		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-42715764-5', 'auto');
			ga('send', 'pageview');
		</script>

	</body>
</html>
